/**
 * FluAnisot style
 * @author Andrew Bigger
 * @version  2.2
 * @since    1.0
 *
 * @requires jquery 1.7.2
 * @requires shadowbox 3.0.3
 *
 * @date 28/05/2012
 */

@import "jquery/jquery.ui.all.css";
@import "shadowbox/shadowbox.css";

body{
	font-family:"Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
}

.tools{
	display:none;
}

#header{
	display:none;
}

#controls{
	display:none;
}

#reading-control{
	display:none;
}

.notification{
	display:none;
}

.note{
	background-color:rgba(255,235,7,0.48);
	padding:2px;
	margin:5px;
	border-radius:5px;
}

.note h1 {
	font-size:small;
	vertical-align:top;
	padding-top:-2px;
}

.note img {
	float:left;
	padding-top:22px;
	padding:4px;
}

.note p {
	padding-left:22px;
	
}


.important{
	background-color:rgba(255,131,7,0.48);
	padding:2px;
	margin:5px;
	border-radius:5px;
}

.important h1 {
	font-size:small;
	vertical-align:top;
	padding-top:-2px;
}

.important img {
	float:left;
	padding-top:22px;
	padding:4px;
}

.important p {
	padding-left:22px;
	
}

#app-title{
	padding-left:5px;
	line-height:0.6;
}

#header #app-title h1 {
	color: #6B413C;
	font-weight: normal;
	font-size: 20px;
}

#header #app-title p {
	color: #3D506B;
	font-weight: normal;
	font-size: 10px;
}

.content{
	font-family:"Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-weight:normal;
	font-size:12px;
	width:100% !important;
}

#simulation-form{
	display:none;
}

#instructions{
	display:none;
}

#typical-results{
	display:none;
}

#sb-wrapper{
	position:absolute !important;
	top:0px !important;
	left:0px !important;
}

#sb-body-inner img{
	width:665px !important;
	
}

#sb-overlay{
	position:fixed !important;
	color:white !important;
	opacity:1 !important;
	width: 900% !important;
	height:900% !important;
	top:0 !important;
	left:0 !important;
}
