/**
 * FluAnisot style
 * @author Andrew Bigger
 * @version  2.2
 * @since    1.0
 *
 * @requires jquery 1.7.2
 * @requires shadowbox 3.0.3
 *
 * @date 28/05/2012
 */

@import "jquery/jquery.ui.all.css";
@import "shadowbox/shadowbox.css";


body{
	background-color:#F0F0EE;
}

#header{
	font-family:"Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	width:100%;
	height:60px;
	position:absolute;
	background:#F0F0EE;
	position: absolute;
	left: 0;
	top: 0;
	right:10;
	padding-left: 3px;
	padding-top: 0px;
	z-index:799;
}

#controls{
	height:30px;
	position:absolute;
	right:0;
	top:0;
	padding-right:5px;
	display:inline;
}

.content-control{
	float:right;
	cursor:pointer;
	margin-left:5px;
	padding:5px;
}

.content-control:hover{
	background-color:#999;
}


#success{
	background-color:rgba(44,226,77,0.5);
	color:#055900;
}

#warning{
	background-color:rgba(227,145,44,0.5);
	color:#5a3300;
}

.notification{
	position:absolute;
	font-size:10px;
	border-bottom-left-radius:20px;
	width:255px;
	top:45px;
	right:0;
	padding-left:5px;
	margin-right:5px;
}

.notification img{
	float:left;
	padding-top:6px;
	padding-right:3px;
}

.notification p{
	vertical-align:top;
}

.note{
	background-color:rgba(255,235,7,0.48);
	padding:2px;
	margin:5px;
	border-radius:5px;
}

.note h1 {
	font-size:small;
	vertical-align:top;
	padding-top:-2px;
}

.note img {
	float:left;
	padding-top:22px;
	padding:4px;
}

.note p {
	padding-left:22px;
	
}


.important{
	background-color:rgba(255,131,7,0.48);
	padding:2px;
	margin:5px;
	border-radius:5px;
}

.important h1 {
	font-size:small;
	vertical-align:top;
	padding-top:-2px;
}

.important img {
	float:left;
	padding-top:22px;
	padding:4px;
}

.important p {
	padding-left:22px;
	
}

.tempC{
	background-image: linear-gradient(right , rgb(235,147,127) 26%, rgb(144,189,214) 59%);
	background-image: -o-linear-gradient(right , rgb(235,147,127) 26%, rgb(144,189,214) 59%);
	background-image: -moz-linear-gradient(right , rgb(235,147,127) 26%, rgb(144,189,214) 59%);
	background-image: -webkit-linear-gradient(right , rgb(235,147,127) 26%, rgb(144,189,214) 59%);
	background-image: -ms-linear-gradient(right , rgb(235,147,127) 26%, rgb(144,189,214) 59%);
}

.button{
	font-size:12px;
	text-align:center;
	float:left;
	margin-left:2px;
	height:35px;
	width:75px;
	padding:5px;
	background-color:#c6c9ce;
}

.button:hover{
	background-color:#999;
	font-weight:bold;
	cursor:pointer;
}

.button-left:hover{
	background-color:#999;
	font-weight:bold;
	cursor:pointer;
}

.button-left {
	font-size:12px;
	text-align:center;
	float:left;
	margin-left:-1px;
	height:35px;
	width:90px;
	padding-left:15px;
	padding-right:5px;
	padding-bottom:5px;
	padding-top:5px;
	background-color:#c6c9ce;
	border-bottom-left-radius:60px;
}

#app-title{
	padding-left:5px;
	line-height:0.6;
}

#header #app-title h1 {
	color: #6B413C;
	font-weight: normal;
	font-size: 20px;
}

#header #app-title p {
	color: #3D506B;
	font-weight: normal;
	font-size: 10px;
}

.content{
	background-color:white;
	font-family:"Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-weight:normal;
	font-size:12px;
	padding-top:10px;
	margin-left:5px;
	padding-left:12px;
	padding-right:15px;
	position:absolute;
	top:75px;
	padding-bottom:2px;
	bottom:0px;
	width:35%;
	overflow:auto;
	-moz-border-top-right-radius:8px;
	-moz-border-top-left-radius:8px;
	border-top-left-radius:8px;
	border-top-right-radius: 8px;
	box-shadow: 0px -2px 20px #888;
}

#simulation-form{
	height:520px;
	width:474px;
	background-image: url(../images/simulation-bg.png);
}

#tempC{
	float:left;
	width:425px;
}

#temp{
	font-family:sans-serif;
	float:right;
	width:35px;
	border:none;
	font-size:10px;
	margin-bottom:5px;
}

#ex{
	position:absolute;
	left:325px;
	top:240px;
	width:40px;
	text-align:center;
}

#viscosity p{
	float:left
}

#viscCP{
	margin-left:2px;
	margin-top:10px;
	width:50px;
	font-size:14px;
	border:none;
}

#em{
	position:absolute;
	left:100px;
	top:380px;
}

#reading-control{
	position:absolute;
	left:60px;
	top:500px;
	width:175px;
}

#reading{
	width:100px;
	font-size:large;
	border:none;
	float:right;
	width:100px;
}

#controls a{
	color:black;
	text-decoration: none;
}

#capture-button{
	margin-top:20px;
}

#viscCP{
	width:250px;
	float:left;
	font-size:12px;
}

#startStop{
	margin-top:10px;
	float:right;
}

#results-wrapper{
	background-color:rgba(255,253,185,0.54);
	border-radius:5px;
}

#results td{
	width:18%;
	text-align:center;
}

#simulation{
	background-color:white;
	font-family:"Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-weight:normal;
	font-size:12px;
	padding-top:10px;
	padding-left:12px;
	padding-right:15px;
	position:absolute;
	top:75px;
	right:0px;
	padding-bottom:2px;
	bottom:0px;
	width:58%;
	-moz-border-top-left-radius:8px;
	border-top-left-radius:8px;
    -moz-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	box-shadow: 0px -2px 20px #888;
	overflow:auto;
}

#simulation-control{
	background-color:#c6c9ce;
	font-family:"Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-weight:normal;
	font-size:12px;
	padding-top:10px;
	padding-left:12px;
	padding-right:15px;
	position:absolute;
	right:0px;
	padding-bottom:2px;
	bottom:0px;
	left:0px;
	height:150px;
	-moz-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	overflow:auto;
}


#figure {

	width:51%;
	position:absolute;
	padding-left:5px;
	top:85px;
	bottom:0px;
	right:0;
	margin-left:5px;
}

#fig{

	height:75%;
	width:55%;
	position:center;
	top:5px;
}

#splash{
	background-color:#F0F0EE;
	font-family:"Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-weight:normal;
	font-size:12px;
	padding-top:10px;
	vertical-align:center;
	position:center;
	margin:auto;
	padding-left:12px;
	padding-right:15px;
	top:75px;
	padding-bottom:2px;
	width:550px;
	height:350px;
	overflow:auto;
	-moz-border-radius:8px;
	border-radius: 8px;
	box-shadow: 0px -2px 20px #888;
	line-height:7px;
}

#splash h1 {
	color: #6B413C;
	font-weight: normal;
	font-size: 30px;
}

#splash h2 {
	color: #3D506B;
	font-weight: normal;
	font-size: 15px;
}

#splash p{
	line-height:10px;
}


#underlay{
	background-color:white;
	width:100%;
	height:100%;
}
